<div class ="jumbotron center">
	<h1>Need More Help?</h1>
	<p>Sorry, there is no more help.
	<small>
	  <p>Thanks to OneMonthRails, Rails Tutorial by Michael Hartl, and the internet community.
	</small>
</div>