<div class ="jumbotron">
	<div class="container">
		<h2>Need Help?</h2>
	<p>Merchants:</p>
	Merchant representatives may view their requests and will receive a report at the end of the testing period, if specified.
	<hr>
	<p>Requesters:</p>	
	Requesters see their pending requests and can create, update, and cancel requests.
	Scheduling Guidelines:
	<ul>
		<li>a request may be from 30 to 120 minutes long</li>
		<li>a request may not overlap existing requests</li>
		<li>one request per day for a specific merchant</li>
		<li>a requester can work with any merchant</li>
	</ul>
	<hr>
	<p>Administrators:</p>
	Administrators can see all requests in the system and can cancel any request.
	New users and merchants are created by administrators.

</div>