<div class ="jumbotron center">
	<h1>StaticPages#help</h1>
	<p>Find me in app/views/static_pages/help.html.erb</p>
	<ul>
		<li>Need a user login?</li>
		<li>Administer subscribers link</li>
		<li>Scheduling Guidelines:</li>
	</ul>
</div>