<div class ="jumbotron" >
	<div class="container">
		<h2>Request Scheduler</h2>
		<p>Schedule merchant testing sessions using this website.</p>
		Features to be developed:
		<ul>
			<li>user roles: admin, requester, supporter, merchant</li>
			<li>user crud functions</li>
			<li>requests use a calendar for creation, validation</li>
			<li>request crud functions</li>
			<li>requests can be viewed and the view changes by role</li>
			<li>requests send email notification to appropriate parties</li>
		</ul>
	</div>
	<div class="container">
		<br>
		<p>	
			<%= link_to "Log In!", login_path, class:"btn btn-default" %>
			<%= link_to "No login? Help!", help_path, class:"btn btn-primary" %>
		</p>
	</div>
</div>