<div class ="jumbotron" >
	<div class="container">
		<h2>Merchant Scheduler</h2>
		<p>Schedule testing sessions using this website.</p>
		Features to be developed:
		<ul>
			<li>user roles: admin, requester, supporter, merchant</li>
			<li>merchant crud functions</li>
			<li>user crud functions</li>
			<li>requests use a calendar for creation, validation</li>
			<li>request crud functions</li>
			<li>requests can be viewed and the view changes by role</li>
			<li>requests send email notification to appropriate parties</li>
		</ul>

	</div>
</div>