<% provide(:title, "Forgot Password") %>
<div class ="jumbotron", id="merchant_tron">
	<div class="container">
		<h3>Request Password Reset</h3>
		<%= form_for(:password_reset, url: password_resets_path) do |f| %>
		  <%= f.label :email %>
		  <%= f.email_field :email, class: 'form-control' %>
		  <%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>