<h1>Subscriber#home</h1>
<p>Find me in app/views/subscriber/home.html.erb</p>
<p>Subscriber Administration</p>
<p>From here, users can add/edit/delete subscribers</p>
<p>Once registered, a merchant can have testing requests scheduled</p>