<% provide(:title, 'User Profile') %>
<div class ="jumbotron", id="merchant_tron">
	<div class="container">
		<h3>User Profile</h3>
		<form>
			<div class="form-group">
				<label>Name:</label>
				<p class="form-control-static", id="myownp">
					<%= @user.name %>
				</p>
				<label>Email:</label>
				<p class="form-control-static", id="myownp">
					<%= @user.email %>
				</p>
			</div>
		</form>
			<label>Role:</label>
			<% if @user.admin? %>
				<p class="form-control-static", id="myownp">Admin</p>
			<% else %>
				<p class="form-control-static", id="myownp">User</p>
			<% end %>
	</div>
</div>


<div class="footer-links">
	<%= link_to edit_user_path(@user) do %>
  	<span class="glyphicon glyphicon-pencil"></span> Edit 
	<% end %>	
	|    
	<%= link_to users_path do %>
  	<span class="glyphicon glyphicon-arrow-left"></span> Return to User Admin
	<% end %>
</div>


