<div class ="jumbotron center">
	<h1>Subscribers#home</h1>
	<p>Find me in app/views/subscribers/home.html.erb</p>
	<p>Subscriber Administration</p>
	<p>From here, users can add/edit/delete subscribers</p>
	<p>Once registered, a merchant can have testing requests scheduled.</p>
	<p> this should go obsolete as merchants is brought online </p>
</div>