@import "bootstrap-sprockets";
@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");


$body-bg: #34495e;
$btn-primary-bg: #e67e22;
$btn-default-color: #34495e;
$navbar-default-bg: #ecf0f1;
$navbar-default-link-color: #e67e22;
$jumbotron-bg: #ecf0f1;
$text-color: #e67e22;

@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
$font-family-sans-serif: 'Slabo 27px', serif;

/* Reminders */ 
/* a control id is defined like <div id="divit"> and # to start css */
/* a control class is defined like <div class="form-group"> and . to start css */

body {
  padding-top: 30px;
}

merchant-table, td {
	font-size: 14px;
	float: left;
}

td {
	border-bottom: 1px solid #ddd;
}

.center {
	text-align: center;
}

.merchant-action {
  width: 4em;
  text-align: left;
}

.merchant-name {
  text-align: left;
  width: 45em;
}

.navbar-brand {
	font-weight: bold;
}

.footer-links {
	font-size: 18px;
	color: red;
	margin-left: 30px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    font-size: 14px;
  }
}

.jumbotron {
  font-size: 14px;
}

#myownp {
  font-size: 14px;
  padding-top: 0px;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #e67e22;
  padding-top: 5px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.alert {
  margin-top: 20px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.digg_pagination {
  background: white;
  cursor: default;
    font-size: 12px;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 28em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
