@import "bootstrap-sprockets";
@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");


$body-bg: #34495e;
$btn-primary-bg: #e67e22;
$btn-default-color: #34495e;
$navbar-default-bg: #ecf0f1;
$navbar-default-link-color: #e67e22;
$jumbotron-bg: #ecf0f1;
$text-color: #e67e22;

@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
$font-family-sans-serif: 'Slabo 27px', serif;

/* Reminders */ 
/* a control id is defined like <div id="divit"> and # to start css */
/* a control class is defined like <div class="form-group"> and . to start css */

body {
  padding-top: 30px;
}

merchant-table, th, td {
	font-size: 14px;
	float: left;
}

td, th {
	border-bottom: 1px solid #ddd;
}

th {
	width: 100%;
}

.center {
	text-align: center;
}

.merchant-action {
  width: 3em;
  text-align: center;
}

.merchant-name {
  text-align: left;
  width: 45em;
}

.navbar-brand {
	font-weight: bold;
}

.footer-links {
	font-size: 18px;
	color: red;
	margin-left: 30px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #e67e22;
  padding-top: 5px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

